{% extends "template.html" %}
{% block content %}
<div>
    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-field">
        <legend>
            Reset Password
        </legend>
        <div class="form-input">
            {{ form.password.label }}
            {% if form.password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.password(class="form-input") }}
            {% else %}
                {{ form.password(class="form-input") }}
            {% endif %}
        </div>
        <div class="form-input">
            {{ form.confirm_password.label }}

            {% if form.confirm_password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.confirm_password(class="form-input") }}
            {% else %}
                {{ form.confirm_password(class="form-input") }}
            {% endif %}
        </div>
        <div class="form-input">
            {{ form.submit(class="button") }}
        </div>
    </fieldset>
    </form>
</div>
{% endblock content %}